.Order{
    width: 100%;
    font-family: inherit;
    margin: 10px auto;
}
.OrderItem{
    width: 90%;
    margin: 5px 15px;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 5px #ececec;
    box-sizing: border-box;
    padding: 10px;
}

.OrderItem p{
    margin: 5px 0;
}

.Title{
    font-size: 1.1rem;
    font-weight: bold;
}

.Name, .Price{
    font-weight: 200;
    font-size: 1.1rem;
}

.Ingredient{
    display: inline-block;
    padding: 2px 5px;
    border: 1px solid #ececec;
    margin-right: 5px;
}

@media(min-width: 600px){
    .Order{
        width: 600px;
    }
}