.SuccessIcon {
    height: 60px;
    width: 70px;
    background-color: #fff;
}

.SuccessIcon polyline {

    fill: none;
    stroke: #03554F;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 80;

    -webkit-animation: SuccessIconAnim 0.7s ease-in 1 paused;

    *-webkit-animation-name: SuccessIconAnim;
    *-webkit-animation-duration: 0.7s;
    *-webkit-animation-timing-function: ease-in;
    *-webkit-animation-iteration-count: 1;
    *-webkit-animation-play-state: running;
}

@-webkit-keyframes SuccessIconAnim {
    from {
        stroke-dashoffset:80px;
    }
    to {
        stroke-dashoffset:0;
    }
}